@font-face {
    font-family: jdm;
    src: url("Ungai.ttf");
}

@font-face {
    font-family: jdm2;
    src: url("nuku1.ttf");
}

h1{
    text-align: center;
    color: #ff3097;
    font-size: 60px;
    font-family: jdm;
    padding: 5px;
}

h2{
    text-align: center;
    color: #91fff2;
    font-size: 70px;
    font-family: jdm2;
    padding: 0px;
}
h3{
    text-align: center;
    color: #91fff2;
    font-size: 70px;
    font-family: jdm2;

    border-color: #ff3097;
}
div.b{
    text-align: center;
    color: #91fff2;
    font-family: jdm2;
}
div.c{
    text-align: left;
    color: #91fff2;
    font-family: jdm2;
}

.summary{
    text-align: center;
    color: #91fff2;
    font-family: jdm2;
    font-size: 25px;
    padding-left: 200px;
    padding-right: 200px;
}
.summary2{
    align-content: initial;
    color: #91fff2;
    font-family: jdm2;
    font-size: 30px;

    margin-left: 100px;

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1920px;
    overflow: hidden;
    font-size: 25px;
    background-color: #ff3097;
}

li{
    float: left;
    padding-left: 220px;
}

li a{
    display: inline;
    color: aqua;
    padding: 14px 16px;
    font-family: jdm;
    text-align: center;
}

li a:hover {
    background-color: aqua;
    font-family: jdm;
    color: #ff3097;
}

img{
    border-radius: 200px 0 200px 0;
    border-style: solid;
    border-color: #ff3097;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.floating{
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

.floating2{
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    float: right;
    display: flex;

}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}

body{
    background-image: url("https://wallpapercave.com/wp/wp6100628.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}